.App {
  display: flex;
  height: 100vh;
  background: #e6e6e6;

}
.video-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex: 70% 1;
  padding: 16px;
  height: fit-content;
}
.video{
  width: 100%;
}
.video-title{
  font-size: 1em;

}
.description{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.description  span{
    color: #606060 ;

}
.dot{
  margin: auto 4px;
}
.autoplay{
  float: right;
}
/* .views, {
color:#606060
}

.date{
  color:#606060

} */
.actions{
  align-self: flex-end;
  text-transform: uppercase;
  font-weight: 600;
}
.actions *{ 
  margin:auto 5px
}
.video-list{
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  padding: 15px 12px;
}
.next{

}
.thumbnail{
  width: 160px;
}
.next-title{

}
.thumbnail-wrapper{
  margin-top: 10px;
  display: flex;
}
.details{
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  width: max-content;
  
}
.details span{
  color: #606060
}
.thumbnail-title{
  color: black  !important;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1rem;
}